@font-face {
  font-family: 'Dancing Script';
  src: url('./font/DancingScript-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
  gap: 100px;
}

.interface {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: flex-start;
  font-family: 'Dancing Script';
  align-items: center;
}
h1 {
  font-family: 'Dancing Script';
  font-size: 100px;
  align-self: flex-start;
}

.board {
  border: 2px solid #292524;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 5px 5px 15px #292524;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}

.white {
  background-color: #f5f5f4;
  transition: all 350ms ease-in-out;
}

.black {
  background-color: #44403c;
  transition: all 55 0ms ease-in-out;
}

img {
  height: 60%;
  transition: all 300ms ease-in;
}

.mainbtns {
  margin-top: 20px;
}

button {
  width: 250px;
  background-color: #525252;
  font-size: 1rem;
  font-weight: bolder;
  color: #f3f4f6;
  padding: 10px;
  text-transform: uppercase;
  transition: 400ms ease-in;
}

button:hover {
  background-color: #f3f4f6;
  color: #525252;
}
